   <!-- footer -->
        <footer class ="bg-fast-yellow" style = "color:dark gray;">
          
           
            <div class="container-fluid bg-dark-gray footer-bottom">
                <div class="container">
                    <div class="row ">
                        <!-- copyright -->
                        <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
                            &copy; 2015 H-Code is proudly powered by ThemeZaa.
                        </div>
                        <!-- end copyright -->
                        <!-- logo -->
                        <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
                            <a href="index.html"><img src="images/logo-light-gray.png" alt="" /></a>
                        </div>
                        <!-- end logo -->
                    </div>
                </div>
            </div>
            <!-- scroll to top -->
            <!--a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a-->
            <!-- scroll to top End... -->
        </footer >
        <!-- end footer -->